<script>
  import {area} from "d3-shape";
  import {extent} from "d3-array";
  import {scaleLinear} from "d3-scale";   
  import {scaleTime} from "d3-scale";
  import {scaleLog} from "d3-scale";
  import {scaleSqrt} from "d3-scale";
  import {max} from "d3-array";
  export let dataset = [];

  let year = 2014;
  let month = 11;

  // This will serve as our timeframe
  let Dates = dataset.map(d => 
    new Date(year, month, d.day, d.hour)
  );

  let Elec = dataset.map(d => d.total_electrity);
  let Gas = dataset.map(d => d.total_gas);
  
//Given imported data structure, we can use Date package with extent function to scale our axis.
  const xAxis = scaleTime()
      .domain(extent(Dates))
      .range([0, 240*(dataset.length/28)])

  const yScElectricity = scaleLinear()
      .domain([0, max(Elec)])
      .range([100/2,0])

  const yScGas = scaleLinear()
      .domain([0, max(Gas)])
      .range([100/2, 100])
      
  const ElecSquared = area()
      .x(d => xAxis(new Date(year, month, d.day, d.hour)))
      .y0(yScElectricity(0))
      .y1(d => yScElectricity(d.total_electrity))


  const GasSquared = area()
      .x(d => xAxis(new Date(year, month, d.day, d.hour)))
      .y0(yScGas(0))
      .y1(d => yScGas(d.total_gas))
</script>

<svg>
      <path d={ElecSquared(dataset)} fill="blue"/>
      <path d={GasSquared(dataset)} fill="orange"/>
</svg>
