<script>
	
	import {json} from 'd3-fetch';
	import {onMount} from 'svelte';
	import {scaleLinear} from 'd3-scale';
	import {scaleRadial} from 'd3-scale';
	import {extent} from 'd3-array';
	import {max} from 'd3-array';

  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
	let clockX = 190;
  let clockY = 190;
  let dataset = [];

  onMount(async () => {
    dataset = await 
      fetch("/data/daily_heating_cooling.json")
        .then(dataset => dataset.json())
    return dataset;
  });
	
	let transformed_data = {}
	$: {
			dataset.forEach((d) => {
				if ( !(d.city in transformed_data)) {
					transformed_data[d.city] = {}
				}
				if ( !(d.day in transformed_data[d.city])) {
					transformed_data[d.city]['day'] = []
				}
				if ( !(d.heating in transformed_data[d.city])) {
				    transformed_data[d.city]['heat'] = []
				}
				if ( !(d.cooling in transformed_data[d.city])) {
				    transformed_data[d.city]['cool'] = []
				}
			})
			dataset.forEach((d) => {
				transformed_data[d.city]['day'].push(d.day)
				transformed_data[d.city]['heat'].push(d.heating)
				transformed_data[d.city]['cool'].push(d.cooling)
			})
	}

	let Radian = scaleLinear().domain([0,364]).range([0, 2*Math.PI])

	$: yScale = scaleRadial()
		.domain([0,max(dataset.map((d) => d.heating))])
		.range([0,100]);
  
  $: Path = (d) => {
		let path = "M"
		d.forEach((value, idx) => {
			path += " " + yScale(value)*Math.sin(Radian(idx)) + "," + yScale(-value)*Math.cos(Radian(idx))
		}) 
    path += "Z"
		return path; 
	}

</script>

{#if !dataset}
  <p>Loading the data..</p>
{:else}
<svg width = {width+230} height = {height+50}>
	{#each Object.keys(transformed_data) as city, idx}
		<g transform = "translate({idx*width/2+25}, 10)">
			<text class="city" x=68 y=260>{city}</text>
			<g transform = "translate({width/6}, {125})">
        <line x1=-80 x2=80></line>
				<line y1=-80 y2=80></line>
				<circle cx=0 cy=0 r=80 fill= none stroke = black></circle>
				<text class="Months" x=-5 y=-90 >0</text>
				<text class="Months" x=90 y=5 >3</text>
				<text class="Months" x=-5 y=100 >6</text>
				<text class="Months" x=-97 y=5 >9</text>
				<g class="cool" >
          <path d={Path(transformed_data[city]['cool'])} />
				</g>
			</g>
			<g class="heat" transform = "translate({width/9}, {height/2})">
        <path d={Path(transformed_data[city]['heat'])} />
			</g>
		</g>
	{/each}
  <g transform="translate({1}, {height})">
    <text class="Heating" >Heating</text>>
  </g>
  <g transform="translate({1}, {height+20})">
    <text class="Cooling" >Cooling</text>
  </g>  
  <g transform="translate({1}, {height+40})">
    <text class="Months" >Months</text>
  </g>
	
</svg> 
{/if}
<style>
	line {
		stroke: black;
	}
  .Months {
    font-weight: bold;
    fill: purple;
  }
	.city {
		font-weight: bold;
		font-size: 15px;
	}
	.cool {
		fill: blue;
		stroke: blue;
	}
	.heat {
		fill: red;
		stroke: red;
	}
  .Cooling {
      fill: blue;
      font-size: 16px;
      font-weight: bold;
  }
  .Heating {
    fill: red;
    font-size: 16px;
    font-weight: bold;
}
	path {
		fill-opacity: 0.5;
	}
</style>
