<script>
  import {json} from "d3-fetch";
  import {scaleBand} from "d3-scale";
  import {onMount} from "svelte";
  import Leaves from "./_design_3_Leaves.svelte";

  const width = 500;
  const height = 580;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  let dataset = 0;

  onMount(async () => {
    dataset = await 
      fetch("/data/hourly_electricity_vs_gas_december.json")
        .then(dataset => dataset.json())
    return dataset;
  });
</script>

{#if !dataset}
  <p>Loading the data..</p>
{:else}
  <svg {width} {height}>
    <g transform="translate({margin.left}, {margin.top})">
      <line x1={width/2 - margin.left} y1={margin.top} x2={width/2 - margin.left} y2={height-125} style="stroke:black" stroke-width="1.9%"/>
      <g transform="translate({(innerWidth/2)-margin.left},350) rotate(-20)">
        <text x=100 y=80 class="Leaves">Week 1</text>
        <Leaves dataset={dataset.filter(d => d.week == 48)}/>
      </g>
      <g transform="translate({(innerWidth/2)+margin.left},275) scale(-1 1) rotate(-20)">
        <text x=-150 y=80 transform='scale(-1,1)' class="Leaves">Week 2</text>
        <Leaves dataset={dataset.filter(d => d.week == 49)}/>
      </g>
      <g transform="translate({(innerWidth/2)-margin.left},200) rotate(-20)">
        <text x=100 y=80 class="Leaves">Week 3</text>
        <Leaves dataset={dataset.filter(d => d.week == 50)}/>
      </g>
      <g transform="translate({(innerWidth/2)+margin.left},90) scale(-1 1) rotate(-20)">
        <text x=-150 y=80 transform='scale(-1,1)' class="Leaves">Week 4</text>
        <Leaves dataset={dataset.filter(d => d.week == 51)}/>
      </g>
      <g transform="translate({(innerWidth/2)-margin.left},40) rotate(-20)">
        <text x=100 y=80 class="Leaves">Week 5</text>
        <Leaves dataset={dataset.filter(d => d.week == 52)}/>
      </g> 
      <g transform="translate({20+width/1.5}, {height-55})">
        <text class="Title" >BALTIMORE</text>
      </g>
      <g transform="translate({20+width/1.5}, {height-40})">
        <text class="Title" >(December 2014)</text>
      </g>
      <g transform="translate({20}, {height-55})">
        <text class="Electricity" >Electricity</text>>
      </g>
      <g transform="translate({20}, {height-40})">
        <text class="Gas" >Gas</text>
      </g>  
    
  </svg>
{/if}

<style>
  svg {
    border: 1px solid black;
    border-radius: 3px;
  }

.Leaves {
  fill: rgb(0, 0, 0);
      font-size: 16px;
      font-weight: bold;
}

.Electricity {
      fill: rgb(21, 21, 242);
      font-size: 16px;
      font-weight: bold;
  }
.Gas {
    fill: orange;
    font-size: 16px;
    font-weight: bold;
}
.Title {
      fill: rgb(0, 0, 0);
      font-size: 16px;
      font-weight: bold;
  }
</style>
