<script>
    let  myList = ['biking', "hiking", "number 42"];
    const my_obj = {Name : "Thomas"};
    
    </script>
    <p>My name is {my_obj.Name} and these are some of my favourite things:
        <li>{myList[0]}
        {myList[1]}
        {myList[2]}</li>
    </p>