<script>
let radius = 2;
function Circum(radius) {
  result =  2 * Math.PI * radius;
  return result.toFixed(2);
}
</script>
<p>The circumference of a circle with radius {radius} is {Circum(radius)}."</p>