<script>
  import { onMount } from 'svelte';
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 10, right: 20, bottom: 20, left: 20 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Arrays
  const points = [
    innerWidth / 2 - 60,
    innerWidth / 2 - 30,
    innerWidth / 2,
    innerWidth / 2 + 30,
    innerWidth / 2 + 60
  ];

  // All lights with a higher index are on!
  let index = points.length, total;
  let color = 'darkgreen';

  onMount(async () => {
  total=setInterval(setindex,800);
  function setindex() {
     index -=1
    if (index<0) {
      clearInterval(total)
    }
   };
  });

</script>

<style>
.red{opacity:1; fill: red}
.soon{opacity:0.3; fill: green}
</style>

<svg class="visible" viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each points as d, idx}
      <circle fill={color} cx={d} cy="35" r="10" class:soon={idx < index} class:red={idx = index}></circle>
    {/each}
  </g>
</svg>

