<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";

  import Controls from "./_ex_3_controls.svelte";
  import Scatterplot from "./_ex_3_scatterplot.svelte";

  // Load the data
  let data = null;
  onMount(async () => {
    data = await json("/data/gapminder.json");
  });
  $: today=[0,"all"];
  $: year=today[0];
  $: continent=today[1];
  $: extract=function(array){
    if(continent=="all"){return array[year].countries}
    else{return array[year].countries.filter(d=>d.continent==continent)}
    };

</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <div>
    <Scatterplot data={extract(data)}/>
    <Controls {data} bind:present={today}/>
  </div>
{/if}
