
<script>
  import {scaleLog} from 'd3-scale';
  import {axisBottom} from 'd3-axis';
  import {select} from 'd3-selection';
  let transform;
  let g;
  // Dimensions
  const width = 820;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 20, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array

  const values = [2, 4, 6, 7, 9];
  const scale = scaleLog ()
          .domain([1, 10])
          .range([0, 800]);
   function Axis(element){
    let xaxis=axisBottom(scale);
    select(element).call(xaxis);
   }
</script>

<svg viewBox="0 0 {width} {height}">
  <text  x=0 y=0 transform=" translate(410,100)" fill= currentColor style="font-size:0.8em;">x label </text>
  <g transform="translate({margin.left},{margin.top})">
    {#each values as iter}
    <circle cx={scale(iter)} cy=45 r=10 fill = steelblue />
    {/each}
  </g>
  <g transform="translate({margin.left},{innerHeight+margin.top})" use:Axis></g>
</svg>
