<script>
  import {scaleLinear} from 'd3-scale';
  import {scaleOrdinal} from 'd3-scale';
  import {axisBottom} from 'd3-axis';
  import {select} from 'd3-selection';
  import {extent} from 'd3-array';

  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];


  const XScale = scaleLinear ()
          .domain([0, 10])
          .range([0, innerWidth]);
  const YScale = scaleLinear ()
          .domain([0, 5])
          .range([innerHeight, 0]);
  const colorScale = scaleOrdinal()
          .domain([1,2,3])
          .range(["red", "orange", "green"]);     
  function Axis(element){
    let xaxis=axisBottom(scale);
    select(element).call(xaxis);
   }  
</script>

<svg viewBox="0 0 {width} {height}">
  <text  x=0 y=0 transform=" translate(410,100)" fill= currentColor style="font-size:0.8em;">x label </text>
  <g transform={"translate(${margin.left},${margin.top})"}>
    {#each values as iter}
      <circle class=iter.y cx={XScale(iter.x)} cy={YScale(iter.y)} r=5 fill ={colorScale(iter.category)} />
    {/each}
  </g>
  <g transform="translate({margin.left},{innerHeight+margin.top})" use:Axis></g>
</svg>



<style>
  text {
    text-anchor: middle;
    font-size: small;
  }
</style>
