<script>
  import {scaleLinear} from 'd3-scale';
  import {scaleOrdinal} from 'd3-scale';

  import {axisBottom} from 'd3-axis';
  import {select} from 'd3-selection';
  import {extent} from 'd3-array';
  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 15, right: 10, bottom: 30, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  $: barWidth = innerWidth / xTicks.length;

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];

  const xTicks = ["Netflix", "Amazon Prime Video", "Disney+", "Hulu", "Apple TV", "Rakuten"];
  const yTicks = [0, 0.2, 0.4, 0.6, 0.8, 1.0, 1.2, 1.4, 1.2, 1.4, 1.6, 1.8, 2.0 , 2.2, 2.4, 2.6, 2.8, 3.0];

  
  $: xScale = scaleLinear()
		.domain([0, xTicks.length])
		.range([margin.left, width - margin.right]);

	$: yScale = scaleLinear()
		.domain([0, Math.max.apply(null, yTicks)])
		.range([height - margin.bottom, margin.top]);
</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
      <!--  -->
      <text transform={`translate(${40},${innerHeight / 2}) rotate(-90)`}>y label</text>
      <g class="axis y-axis">
        {#each yTicks as tick}
          <g class="{tick}" transform="translate(0, {yScale(tick)})">
            <line x2="100%"></line>
            <text>{tick}</text>
          </g>
        {/each}
      </g>
      
		<g class="axis x-axis">
			{#each data as point, i}
				<g class="tick" transform="translate({xScale(i)},{height})">

					<text x="{barWidth/3.5 }" y="-10" style="font-size: 8">{point.service}</text>
				</g>
			{/each}
		</g>
    <g class='bars'>
			{#each data as point, i}
				<rect
					x="{xScale(i) + 0}"
					y="{yScale(point.viewers)}"
					width="{barWidth - 6}"
					height="{yScale(0) - yScale(point.viewers)}"
				></rect>
			{/each}
		</g>

</svg>
