<script>
import { onMount } from 'svelte';
import * as easings from 'svelte/easing';
import {scaleOrdinal} from 'd3-scale';
import {scaleLog} from 'd3-scale';
import {scaleLinear} from 'd3-scale';
import {extent} from 'd3-array';

const width = 600;
const height = 300;
const margin = { top: 15, right: 10, bottom: 30, left: 60 };
const innerWidth = width - margin.left - margin.right;
const innerHeight = height - margin.top - margin.bottom;

let data = null;
onMount(async () => {
  data = await csv('/_ex_7_scatterplot.svelte');
});


$: xScale = scaleLog()
    .domain([400, 70000])
    .range([0, innerWidth]);
	$: xTicks = xScale.ticks()
  $: yScale = scaleLinear()
		.domain([30, 90])
        .range([innerHeight, 0]);
	$: yTicks = yScale.ticks()
</script>

<svg {width} {height}>
    <g transform={`translate(${margin.left},${margin.top})`}>
    </g>
</svg>